h1{
    font-size: 45px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: serif;
}

#log{
    background: rgba(0,0,0,0.5);
    margin-top: 40px;
   
}

.label{
    color: white;
}
input[type="checkbox"]{
   height: 15px;
    width: 15px;
    
}
small{
    font-size: 15px;
    color: white;
}
#pass{
    font-size: 15px;
    color: white;
}
#Member{
    font-size: 15px;
    color: white;
}



.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.carousel {
    background:#512DA8;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

/*---------------------On Sale------------------------------*/
.title-box{
    background: orange;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}
.title-box h2
{
    font-size: 24px;
}
.title-box::after{
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}

/*---------------------------product-top-----------------------------*/
.product-top img{
    width: 100%;
}
.overlay-right{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.overlay-right .fas
{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.btn-secondary{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.product-top:hover .overlay-right
{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}
/*--------------------------------------------product-bottom-----------------------------------------------*/
.product-bottom .fas {
    color: orange;
    font-size: 10px;
}
.product-bottom .far {
    color: orange;
    font-size: 10px;
}
.product-bottom h4{
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5{
    font-size: 15px;
    padding-bottom: 10px;
}
/*------------------------------------single-product----------------------------------------------------------*/
.single-product{
    margin-top: 70px;
}
.new-arrival{
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
.col-md-7 h2
{
    color: #555;
}
.single-product .fas{
    color: orange;
}
.single-product .price{
    color: orange;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
.single-product input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
.single-product .btn-primary{
    background: orange !important;
    color: #fff;
    font-size: 15px;
    border: none;
    box-shadow: none !important;
}
#product{
    background: none !important;
}
/*---------------product description-------------------------------------*/
.product-descrption h6{
    margin-top: 50px;
    color: orange;
}
.product-descrption p{
    margin-top: 30px;
    
}
.product-descrption hr{
    margin-bottom: 50px;
}