h1{
    font-size: 45px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: serif;
}

#log{
    background: rgba(0,0,0,0.5);
    margin-top: 40px;
   
}

.label{
    color: white;
}
input[type="checkbox"]{
   height: 15px;
    width: 15px;
    
}
small{
    font-size: 15px;
    color: white;
}
#pass{
    font-size: 15px;
    color: white;
}
#Member{
    font-size: 15px;
    color: white;
}



.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background: url(new1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}